@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    font-family: 'Inter', sans-serif;
}

header{
    width: 100vw;
    background-color: #fff;
    
}

.logo{
    text-align: center; 
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo img{
    width: 60px;
    height: 60px;
}

.logo h1{
    margin-left: 5px;
    text-shadow: 1px 2px 3px #16161644;
}

.botao{
    padding: 5px 20px;
    background-color: #e0e0e0;
}

menu{
    background-color: #e6e6e6;
    display: none;
}

menu ul{
    list-style-type: none;
}

menu ul li{
    padding: 5px;
}

menu ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}

menu li a:hover{
    color: #ca0a9a;
    text-decoration: underline;
}


hr{
    margin-top: 15px;
    border: 1px solid #ca0a9a;
}

span{
    cursor: pointer;
}

main{
    width: 100vw;
    height: 95vh;
    background-color: #fff;
    padding: 13px;
    padding-left: 40px;

    position: relative;
}

section{
    padding-top: 55px;
    font-family: 'Roboto', sans-serif;
}

section h1{
    width: 45vw;
    font-size: 2rem;
    text-shadow: 1px 1px 3px #0000003f;
}

section p{
    width: 75vw;
    margin: 4rem 1rem;
    text-align: left;
    line-height: 30px;
    font-style: italic;
}

section picture{
    display: none;
}

section img{
    width: 60vw;
    height: 90vh;
    
    position: absolute;

    top: 0;
    left: 35%;
}

section details{
    list-style: none;
}

.ilink{
    width: 130px;
    padding: 8px;
    margin-top: 50px;
    border-radius: 50px;
    background-color: #ca0a9a;
    text-align: center;
    display: flex;
    align-items: center;
}

.ilink span{
    color: #fff;
}

.ilink a{
    color: #fff;
    margin-left: 5px;
    visibility: 90%;
    text-decoration: none;
}

table{
    margin: 12px 0;
    border-collapse: collapse;
}

.primeira{
    color: #fff;
    font-weight: 600;
    background-color: #139113;
}

.cor{
    background-color: #aaa4a47e;
}

td, thead{
    height: 40px;
    padding: 10px;
    border: 1px solid black;
}

footer{
    color: #fff;
    background-color: #000000d8;
    padding: 6px;
    text-align: center;
    width: 100vw;
}

footer a{
    color: #fff;
    text-decoration: none;
}

main.servico h1{
    margin-top: 20px;
    width: 80vw;
    font-size: 1.4rem;
}

main.servico p{
    width: 80vw;
    font-size: 1.2rem;
}

main.servico table{
    display: none;
}


@media screen and (min-width: 786px) {

    header{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #ca0a9a;
    }

    .logo{
        padding: 10px;
    }

    header menu{
        display: flex;
        align-items: flex-end;
        background-color: #fff;
    }

    .botao, hr{
        display: none;
    }

    menu ul{
        display: flex;
    }

    menu li a{
        margin-right: 20px;
        font-size: 1rem;
        font-family:  Arial, Helvetica, sans-serif;
    }


    section{
        width: 90vw;
    }

    section p{
        width: 30vw;
    }
 
    section picture{
        display: block;
    }
    
    main.servico table{
        display: block;
    }

    main.servico details{
        display: none;
    }

    .curso{
        display: block;
    }
}